<div class="bookComponentWrap">
  <h2 class="headerText">{{ headerText }}</h2>

  <div class="bookContainer">
    <div class="bookWrap">
      <img class="book" [src]="book1" alt="book1" />
      <h2 class="bookNum">Book 1: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book2" alt="book2" />
      <h2 class="bookNum">Book 2: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book3" alt="book3" />
      <h2 class="bookNum">Book 3: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book2" alt="book2" />
      <h2 class="bookNum">Book 4: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book3" alt="book3" />
      <h2 class="bookNum">Book 5: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book1" alt="book1" />
      <h2 class="bookNum">Book 6: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book2" alt="book2" />
      <h2 class="bookNum">Book 7: The Book Title</h2>
      <button>Read Now!</button>
    </div>
    <div class="bookWrap">
      <img class="book" [src]="book3" alt="book3" />
      <h2 class="bookNum">Book 8: The Book Title</h2>
      <button>Read Now!</button>
    </div>
  </div>
</div>
